/* Sidebar background color and padding */
#left-panel {
    background-color: #cbecf5; /* Light blue background */
    padding-top: 20px; /* Spacing at the top */
    padding-bottom: 20px; /* Spacing at the bottom */
    width: 290px;
    height: 100%;
}

/* Navbar styles */
.navbar {
    background-color: #cbecf5 !important; /* Match sidebar background color */
    border: none;
    box-shadow: none;
}

.navbar .navbar-nav {
    list-style-type: none;
    padding-left: 0;
}

.navbar .navbar-nav li {
    border-bottom: 1px solid #c6c4c4; /* Change border to black */
}

/* Active menu item */
.navbar .navbar-nav li.active {
    background-color: #8fd9f1; /* Light cyan background when active */
}


/* Hover effect on entire list item */
.navbar .navbar-nav li:hover {
    background-color: #edf7fa; /* Red background on hover for the whole item */
}

.navbar .navbar-nav li:hover a {
    color: #03a9f3; /* Change text color to white when hovering over the item */
}

.navbar .navbar-nav li a {
    display: block;
    padding: 15px;
    font-size: 16px;
    color: #333; /* Dark text color */
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color and background */
}

/* Icon styles */
.navbar .navbar-nav li a .menu-icon {
    margin-right: 10px;
}

/* Hover effect */
.navbar .navbar-nav li a:hover {
    background-color: #007bff; /* Blue background on hover */
    color: #03a9f3; /* White text on hover */
}

/* Dropdown menu styles */
.navbar .navbar-nav li .dropdown-menu {
    background-color: #cbecf5;
    border: none;
    box-shadow: none;
}

.navbar .navbar-nav li .dropdown-menu li {
    border-bottom: 1px solid #e0e0e0;
}

.navbar .navbar-nav li .dropdown-menu li a {
    padding: 12px;
    color: #333;
    font-size: 15px;
}

.navbar .navbar-nav li .dropdown-menu li a:hover {
    background-color: #75c9e8;
    color: #03a9f3;
}

/* Dropdown icon */
.navbar .navbar-nav li .dropdown-toggle:after {
    content: "\f0d7"; /* Unicode for dropdown arrow */
    font-family: FontAwesome;
    margin-left: 5px;
}

/* Scrollbar styles */
#left-panel::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

#left-panel::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Light background for scrollbar track */
}

#left-panel::-webkit-scrollbar-thumb {
    background-color: #B6DDE2; /* Red color for the scrollbar */
    border-radius: 6px; /* Rounded corners for the scrollbar */
    border: 4px solid #f1f1f1; /* Border around the scrollbar */
}

/* Responsive sidebar (if needed) */
@media (max-width: 768px) {
    #left-panel {
        width: 100%;
        padding: 10px;
    }
    .navbar .navbar-nav li {
        border-bottom: none;
    }
}
